@import "tailwindcss";
@import "./theme.css";
@custom-variant dark (&:where(.dark, .dark *));
@source "../../../packages/ui/src";
@source "../../..";

html,
body {
  touch-action: manipulation;
  font-size: 16px; /* Tăng cỡ chữ tổng thể */
}

/* Fix iOS Auto-zoom on inputs */
@media screen and (max-width: 768px) {
  input,
  textarea,
  select {
    font-size: 16px !important;
  }
}

/* Tà đạo tối ưu hóa PWA */
.gpu-accelerate {
  transform: translateZ(0);
  will-change: transform;
  backface-visibility: hidden;
}

button, a, .ant-btn {
  touch-action: manipulation !important;
}
